/* ========================= Import =========================*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*
  font-family: 'Raleway', sans-serif;
  font-family: "Roboto", sans-serif; 
*/
/* ========================= RESET =========================*/
html {
  box-sizing: border-box;
  text-size-adjust: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  list-style: none;
  text-decoration: none;
  height: 100vh;
  width: 100vw;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
/* ========================= Font size Responsive Fluid  =========================*/

/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1400,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.65rem, calc(0.48rem + 0.87vw), 1.24rem);
  --step--1: clamp(0.78rem, calc(0.55rem + 1.14vw), 1.55rem);
  --step-0: clamp(0.94rem, calc(0.64rem + 1.48vw), 1.94rem);
  --step-1: clamp(1.13rem, calc(0.74rem + 1.92vw), 2.42rem);
  --step-2: clamp(1.35rem, calc(0.85rem + 2.49vw), 3.03rem);
  --step-3: clamp(1.62rem, calc(0.98rem + 3.21vw), 3.78rem);
  --step-4: clamp(1.94rem, calc(1.12rem + 4.13vw), 4.73rem);
  --step-5: clamp(2.33rem, calc(1.27rem + 5.3vw), 5.91rem);
  --step-6: clamp(2.8rem, calc(1.44rem + 6.8vw), 7.39rem);
}

.step--2 {
  font-size: var(--step--2);
}
.step--1 {
  font-size: var(--step--1);
}
.step-0 {
  font-size: var(--step-0);
}
.step-1 {
  font-size: var(--step-1);
}
.step-2 {
  font-size: var(--step-2);
}
.step-3 {
  font-size: var(--step-3);
}
.step-4 {
  font-size: var(--step-4);
}
.step-5 {
  font-size: var(--step-5);
}
.step-6 {
  font-size: var(--step-6);
}

/* ======== BODY ======== */
body {
  background-color: rgb(250, 244, 244);
}
/* ================================= HOME ========================================= */
/* ======== head  ======== */
.header {
  width: 100vw;
}
.header__nav {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  width: 100%;
  align-items: center;
}
/* ================================================================== */
.nav__icon {
  width: 33.33333333333333%;
}
.icon__a {
  width: 100%;
}
.icon__a__img {
  width: clamp(50px, 100%, 128px);
}
/* ================================================================== */
.nav__lista {
  display: flex;
  justify-content: space-evenly;
  width: 33.33333333333333%;
}
.lista__a {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: var(--step--1);
  color: #8e36ae;
}
/* ================================================================== */
.nav__iconRedes {
  width: 33.33333333333333%;
  display: flex;
  justify-content: flex-end;
}
.iconRedes__a {
  width: calc(60px + 0.5vw);
}
.iconRedes__a__img {
  width: inherit;
}
/* ======== MAIN ======== */
.main {
  max-width: 1200px;
  margin: 10em auto;
  display: flex;
}
.main__article {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* ================================================================== */
.main__article-3 {
  display: none;
}
/* ================================================================== */
.main__article-1 {
  flex-direction: column;
  align-items: center;
  font-size: var(--step-4);
  font-family: "Raleway", sans-serif;
  transform: rotate(-6deg);
  font-weight: 800;
}
.article__span-diff {
  color: #8e36ae;
}
/* ================================================================== */

.article__img {
  object-fit: cover;
  max-width: clamp(100px, 50%, 350px);
  clip-path: circle();
}

/* ======== ANIMACIONES ======== */

/*  ======== MEDIA QUERIES ======== */
/* 1399.98px */
@media (max-width: 87.49875em) {
}
/* 1199.98px */
@media (max-width: 61.99875em) {
}
/* 991.98px */
@media (max-width: 991.98px) {
}
/* 767.98px */
@media (max-width: 47.99875em) {
  /* ================================= HOME ========================================= */
  /* ======== head  ======== */
  .header {
    order: 2;
    height: 40%;
    width: 100%;
  }
  .header__nav {
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  /* ================================================================== */
  .nav__icon {
    display: none;
  }
  /* ================================================================== */
  .nav__lista {
    width: 100%;
  }
  .lista__a {
    font-size: var(--step-3);
  }
  /* ================================================================== */
  .nav__iconRedes {
    width: 100%;
    justify-content: center;
  }
  .iconRedes__a {
    width: calc(50px + 10vw);
  }

  /* ======== main  ======== */
  .main {
    margin: 0 auto;
    height: 60%;
    order: 1;
    flex-direction: column;
    justify-content: space-around;
  }
  /* ================================================================== */
  .main__article-3 {
    display: flex;
    text-align: center;
  }
  /* ================================================================== */
  .main__article-1 {
    font-size: var(--step-3);
    transform: rotate(0);
  }
  /* ================================================================== */
}
/* 575.98px */
@media (max-width: 35.81125em) {
  .lista__a {
    font-size: var(--step-2);
  }
}

/* ================================= SOBRE MI ========================================= */
.sobreMi__h2 {
  font-family: "Raleway", sans-serif;
  text-align: center;
  margin-bottom: 10px;
}
/* ======== Main ======== */
.sobreMi {
  max-width: 1400px;
  margin: 0 auto 3em;
  position: relative;
}
.sobreMi::before {
  content: " ";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: #000000;
  top: 0;
  left: 50%;
}

.sobreMi__container {
  width: 50%;
  position: relative;
  padding: 10px 40px;
}

.sobreMi__container__text {
  display: flex;
  flex-direction: column;
  background-color: #bb7dd4;
  padding: 1em;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.sobreMi__left {
  left: 0;
}
.sobreMi__right {
  left: 50%;
}
.sobreMi__left::after {
  content: " ";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -15px;
  top: 43%;
  background: #bb7dd4;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.sobreMi__left::before {
  content: " ";
  position: absolute;
  width: 40px;
  height: 25px;
  right: 15px;
  top: 43%;
  background-color: #bb7dd4;
  clip-path: polygon(50% 0%, 0 72%, 100% 72%);
  rotate: 90deg;
}
.sobreMi__right::after {
  content: " ";
  position: absolute;
  width: 25px;
  height: 25px;
  left: -10px;
  top: 43%;
  background: #bb7dd4;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.sobreMi__right::before {
  content: " ";
  position: absolute;
  width: 40px;
  height: 25px;
  left: 17.5px;
  top: 43%;
  background-color: #bb7dd4;
  clip-path: polygon(50% 0%, 0 72%, 100% 72%);
  rotate: -90deg;
}
.sobreMi__container__h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #ffff;
}
.sobreMi__container__h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0.5em;
}
.sobreMi__container__p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #000000;
  line-height: 1.5em;
}
.sobreMi__container__p-span {
  color: #000000;
  font-weight: 700;
}
.sobreMi__container__a {
  align-self: center;
  color: #ffff;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  margin-top: 1em;
  font-weight: 500;
}
.sobreMi__container__ul {
  margin-top: 0.8em;
  margin-left: 1em;
}
.sobreMi__container__ul__li {
  list-style: circle;
  margin-top: 0.2em;
}
.sobreMi__container__ul__li__a {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

/* ========  MEDIA QUERIES ======== */
/* ======== Main ======== */
@media (max-width: 575.98px) {
}

@media (max-width: 767.98px) {
  .sobreMi__container {
    width: 100%;
    position: relative;
    padding: 10px 40px;
  }
  .sobreMi__left {
    left: 0;
  }
  .sobreMi__right {
    left: 0;
  }

  .sobreMi::before {
    content: " ";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: #000000;
    top: 0;
    left: 15px;
  }
  .sobreMi__left::after {
    content: " ";
    position: absolute;
    width: 25px;
    height: 25px;
    left: 5px;
    top: 43%;
    background: #bb7dd4;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .sobreMi__left::before {
    content: " ";
    position: absolute;
    width: 40px;
    height: 25px;
    left: 25px;
    top: 43%;
    background-color: #bb7dd4;
    clip-path: polygon(50% 0%, 0 72%, 100% 72%);
    rotate: -90deg;
  }
  .sobreMi__right::after {
    content: " ";
    position: absolute;
    width: 25px;
    height: 25px;
    left: 5px;
    top: 43%;
    background: #bb7dd4;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .sobreMi__right::before {
    content: " ";
    position: absolute;
    width: 40px;
    height: 25px;
    left: 25px;
    top: 43%;
    background-color: #bb7dd4;
    clip-path: polygon(50% 0%, 0 72%, 100% 72%);
    rotate: -90deg;
  }
}
